body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  min-width: 500px;
  min-height: 200px;
}

h1 {
  color: #333;
  font-size: 28px;
  margin: 10px;
  text-align: center;
}

a {
  color: #c4170c;
}

ul {
  background-color: #fff;
  list-style: none;
  
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}


li {
  
  border-bottom: 1px solid #eee;
  margin: 2px;
  padding: 10px 5px ;
  font-size: 16px;
  font-weight: 600;
}
li:last-child {
  border-bottom: none;
}

li a {
  text-decoration: none;
  
}
li a:hover {
  color: darkred;
}

button {
  background-color: green;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  flex: 1;
  align-content: space-between;
  
}

button:hover {
  background-color: darkgreen;
}